@import "tailwindcss";

@theme {
  --color-app-bg: oklch(95% 0.01 260);

  --color-note-surface: oklch(100% 0 0);
}

body {
    margin:0;
    padding:0;
    
  background-color: var(--color-app-bg);
  font-family: 'Poppins', sans-serif;
  color: oklch(20% 0.01 80); 
}